

 {{!-- Use each and unless method in handlebar to determine which article to show on the home page --}}
<div id="article-box">
    {{#each article}}
    {{#unless isSaved}}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{link}}</p>
            <button data-value="{{_id}}" type="button" class="btn btn-primary save-btn">Save</button>
        </div>
    </div>
    {{/unless}}
    {{/each}}
</div>
