

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <button id="clear-btn" type="button" class="btn btn-danger">Clear Articles</button>
            </li>
        </ul>
    </div>
</nav>

<div id="article-box">
    {{#each article}}
    {{#if isSaved}}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{link}}</p>
            <button data-value="{{_id}}" type="button" class="btn btn-primary delete-btn">Delete Article</button>
            <button data-value="{{_id}}" type="button" class="btn btn-secondary modal-btn">Note</button>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>
