

<div id="article-box">
    {{#each article}}
    {{#if isSaved}}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{link}}</p>
            <button data-value="{{_id}}" type="button" class="btn btn-primary delete-btn">Delete Article</button>
            <button data-value="{{_id}}" type="button" class="btn btn-secondary modal-btn">Note</button>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>
